#navbar-dev-raafi {
    .brand-name {
        font-size: 18px;
        font-family: "Chromate Reguler";
        font-weight: normal;
        .dev {
            font-style: normal !important;
            font-weight: bolder;
        }

        .v {
            font-family: "TT Norms";
            font-weight: bold;
        }
    }
}
